.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0499f2;
    background-image: linear-gradient(315deg, #0499f2 0%, #26f596 74%);
}
@media (max-width: 768px){
    .login{
        height:120vh;
    }
}
.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}
.loginLeft .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.loginLogo{
    font-size:80px;
    font-weight:800px;
    color:#1775ee
}
.loginDesc{
    font-size: 20px;
    color:#1775ee
}
.loginRight{
    background-color:  white;
    border:4px solid lightgray;
}
input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
input[type=text]:focus {
    width: 100%;
}
input[type=email] {
    transition: width 0.4s ease-in-out;
  }
  
input[type=email]:focus {
    width: 100%;
}
input[type=password] {
    transition: width 0.4s ease-in-out;
  }
  
input[type=password]:focus {
    width: 100%;
}
